In [40]:
# import the library
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# sklearn :: utils
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold

# sklearn :: models
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier

# sklearn :: evaluation metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

sns.set_style('whitegrid')

# Problem definition

Apply regression models to predict the house pricing

# Load the data

In [57]:
#input
df = pd.read_csv('data/default of credit card clients.csv')
print(df.columns)
df.head()

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month'],
      dtype='object')

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

# Feature Engineering

In [84]:
# feature engineering
X_columns = df.columns[1:-1]
y_column = df.columns[-1]

# Model Training

In [85]:
# split the data

threshold = 0.2
X = df[X_columns]
y = df[y_column]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=threshold, shuffle=True)

print('X_train', X_train.shape)
print('y_train', y_train.shape)
print('X_test', X_test.shape)
print('y_test', y_test.shape)

X_train (24000, 23)
y_train (24000,)
X_test (6000, 23)
y_test (6000,)

In [86]:
model = GaussianNB()
model = RandomForestClassifier()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

C:\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [87]:
# feature importance
importance = []
for i in range(len(X_columns)):
    importance.append([X_columns[i], model.feature_importances_[i]])
pd.DataFrame(importance).sort_values(by=1, ascending=False)

            0         1
5       PAY_0  0.104916
4         AGE  0.066009
0   LIMIT_BAL  0.061083
11  BILL_AMT1  0.061035
17   PAY_AMT1  0.053804
12  BILL_AMT2  0.053386
16  BILL_AMT6  0.050840
13  BILL_AMT3  0.050737
14  BILL_AMT4  0.049901
15  BILL_AMT5  0.049605
19   PAY_AMT3  0.049363
22   PAY_AMT6  0.047214
6       PAY_2  0.047077
20   PAY_AMT4  0.046567
18   PAY_AMT2  0.045110
21   PAY_AMT5  0.044081
7       PAY_3  0.024620
9       PAY_5  0.020021
2   EDUCATION  0.018994
10      PAY_6  0.015735
8       PAY_4  0.014076
3    MARRIAGE  0.013430
1         SEX  0.012394

# Model Evaluation

In [88]:
print(confusion_matrix(y_test, y_pred))
print('Precision', precision_score(y_test, y_pred))
print('recall', recall_score(y_test, y_pred))

[[4450  239]
 [ 916  395]]
Precision 0.6230283911671924
recall 0.3012967200610221