In [4]:
# import the library
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style('whitegrid')

# Problem definition

Apply regression models to predict the house pricing

# Load the data

In [13]:
#input
df = pd.read_csv('data/house_pricing.csv')
print(df.columns)
print(df.shape)
df.head()

Index([u'id', u'date', u'price', u'bedrooms', u'bathrooms', u'sqft_living',
       u'sqft_lot', u'floors', u'waterfront', u'view', u'condition', u'grade',
       u'sqft_above', u'sqft_basement', u'yr_built', u'yr_renovated',
       u'zipcode', u'lat', u'long', u'sqft_living15', u'sqft_lot15',
       u'walking_score', u'transit_score', u'bike_score', u'median_income',
       u'mean_income', u'population'],
      dtype='object')
(21165, 27)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,lat,long,sqft_living15,sqft_lot15,walking_score,transit_score,bike_score,median_income,mean_income,population
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,47.5112,-122.257,1340,5650,24,46.0,22.0,55777.0,65498.0,24092
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,47.7210,-122.319,1690,7639,67,59.0,64.0,47910.0,60487.0,30826
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,47.7379,-122.233,2720,8062,14,36.0,NaN,86310.0,100546.0,20419
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,47.5208,-122.393,1360,5000,74,48.0,51.0,77761.0,95355.0,14770
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,47.6168,-122.045,1800,7503,9,0.0,NaN,134159.0,157543.0,25748

# Feature Engineering

In [6]:
# TODO: create 2 new features

In [7]:
# TODO: select the features and the target
X_columns = []
y_column = []

# Model Training

In [8]:
# TODO: split the data: 80% for training and 20% for test

In [9]:
# TODO: train a linear regression model

In [14]:
# identigy the feature importance
# importance = []
# for i in range(len(X_columns)):
#     importance.append([X_columns[i], model.feature_importances_[i]])
# pd.DataFrame(importance).sort_values(by=1, ascending=False)

# Model Evaluation

In [11]:
# TODO: evaluate the model using the Mean Absolute Error

In [12]:
# plot the results
# plt.scatter(y_test, y_pred, alpha=0.3)
# plt.show()