In [1]:
import pandas as pd
import random

In [7]:
df_test = pd.read_csv('data/test.csv')
df_test = df_test[['id']]
df_test['log_price'] = [random.uniform(0, 8)]*len(df_test)
df_test
#df_test.to_csv('sampleSubmission.csv', index=False)

             id  log_price
0        986942   3.100544
1      16436737   3.100544
2      18209634   3.100544
3      15027024   3.100544
4      18074243   3.100544
5       8446914   3.100544
6      19362916   3.100544
7      16116059   3.100544
8      20912583   3.100544
9      13573101   3.100544
10     15938749   3.100544
11     13659214   3.100544
12      6239753   3.100544
13     11627400   3.100544
14     17794295   3.100544
15     15267276   3.100544
16      9476370   3.100544
17     14694999   3.100544
18     19847012   3.100544
19      8860277   3.100544
20      2975445   3.100544
21      1390712   3.100544
22     16144412   3.100544
23      1312673   3.100544
24      6645473   3.100544
25      7227023   3.100544
26     17283456   3.100544
27     13719227   3.100544
28     11413078   3.100544
29     15166399   3.100544
...         ...        ...
23081    840797   3.100544
23082   4880277   3.100544
23083  12816576   3.100544
23084  11626561   3.100544
23085  10051649   3.100544
23086  18406772   3.100544
23087   8776928   3.100544
23088   2811061   3.100544
23089  14606464   3.100544
23090   8564722   3.100544
23091    808919   3.100544
23092  10035324   3.100544
23093   1480015   3.100544
23094   8847624   3.100544
23095  18618632   3.100544
23096   6425382   3.100544
23097   7674543   3.100544
23098  12585689   3.100544
23099  17299278   3.100544
23100  18210259   3.100544
23101   1226155   3.100544
23102  16930596   3.100544
23103  10679702   3.100544
23104  13319386   3.100544
23105  18820769   3.100544
23106  15101498   3.100544
23107    298258   3.100544
23108   4917508   3.100544
23109  16645828   3.100544
23110  17797691   3.100544

[23111 rows x 2 columns]